#container-box{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    border:2px solid black ;
    gap:4px;
}
.box{
    border:2px solid gray;
}
#head{
    background-color: black;
    color: white;
    text-align: center;

}
#footer{
    background-color: black;
    color: white;
}
